@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap&subset=cyrillic');

body {
  margin: 0;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #656c73;
}

.bg-base {
  background-color: #bd5d38;
}

.page {
  max-width: 75rem;
}

h1 {
  font-size: 5rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 4rem;
  line-height: 3.5rem;
}

h3 {
  font-size: 2.5rem;
  line-height: 2rem;
}

h1, h2, h3 {
  font-weight: 700;
  color: #343a40;
}

a {
  color: #bd5d38;
  &:active, &:focus, &:hover {
    color: #824027;
  }
}

.text-primary{
  color: #bd5d38!important;
}

.subheading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  b {
    color: #333
  }
}

.lead {
  font-weight: 400;
}

.btn-primary{
  background: #bd5d38;
  border-color: #bd5d38;
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active,
  .show>&.dropdown-toggle,
  &:hover,
  &:focus{
    background: #ab5533;
    border-color: #ab5533;
  }
  &:focus{
    box-shadow: 0 0 0 0.2rem #bd5d38;
  }
}

code {
  display: block;
  overflow: auto;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
  .page {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
  }
}

@media (min-width: 768px) {
  .page {
      min-height: 100vh;
  }
}