#blog {
    width: 100%;
    a:hover{
        text-decoration: none;
    }

    .subheading {
        .article-date {
            &::after {
                content: '|';
                margin: 0 10px;
            }
        }
        .article-tags {
            .tag {
                &::after {
                    content: '·';
                    margin: 0 5px;
                }
                &:last-child {
                    &::after {
                        content: '';
                        margin: 0;
                    }
                }
            }
        }
    }
}