#sideNav{
    .blog-title{
        color: white;
        font-size: 1.5rem;
        letter-spacing: .05rem;
    }
    .navbar-brand {
        font-weight: 700;
    }
    .navbar-nav .nav-link {
        font-weight: 700;
        letter-spacing: .05rem;
        text-transform: uppercase;
    }
} 

@media (min-width: 992px) {
    #sideNav {
        text-align:center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
        .navbar-brand {
            display: flex;
            margin: auto auto 0;
            padding: .5rem;
            .img-profile{
                max-width: 10rem;
                max-height: 10rem;
                border: .5rem solid rgba(255,255,255,.2);
            }
        }
        .navbar-collapse {
            display: flex;
            align-items: flex-start;
            flex-grow: 0;
            width: 100%;
            margin-bottom: auto;
            .navbar-nav {
                flex-direction: column;
                width: 100%;
                .nav-item{
                    display: block;
                    .nav-link{
                        display: block;
                    }
                }
            }
        }
    }
}